<h1>My books-app</h1>
<table>
  <tr>
    <th>Author</th>
    <th>Publication Year</th>
    <th>The type of the book</th>
    <th>The store you can find it</th>
  </tr>
  <% @all_books.each do |book| %>
    <tr>
      <td><%= book.author %></td>
      <td><%= book.publication_year %></td>
      <td><%= book.book_kind%></td>
      <td><%= book.store %></td>
    </tr>
  <% end %>

</table>
